/* You can add global styles to this file, and also import other style files */
.black-btn {
    padding: 14px 35px;
    background: #000;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}